<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>安徽理工大学</strong>
                        <span>2013 - 2017 | 信息与技术科学</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>数学分析、高等代数、概率论与数理统计、解析几何、C语言、JAVA语言、C++语言、HTML5、JSP、Android、数据库系统概论、数字模拟电路、汇编语言、编译原理、算法设计基础、计算机操作系统、计算机网络、计算机组成原理、计算机图形学、软件工程、数据结构
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->