<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>Oct <strong class="text-upper">2016</strong> - Oct <strong>2017</strong></span>
                    </time>
                    <h3>Java开发</h3>
                    <span class="education-company">永安车险承保系统 | 上海中科软科技有限公司</span>
                    <p>技术选型：Spring + Hibernate +Mysql5+Mule+Webservice</p>
                    <p>项目介绍：<br />
                        1.该项目主要针对保险公司车险的业务处理，包括：承保车辆查询、承保报价、保单生成、保单批改、行业平台对接、销售渠道对接等模块。<br />
                        2.涉及的系统有：<br/>
                            &nbsp;报价平台：提供车型查询，行业监管平台数据查询解析，保单报价生成，保单批改等业务。涉及技术，webservice,json,springMVC，Xstream，freemarker等；<br />
                            &nbsp;车辆名单清洗：批量查询行业平台，保存解析车辆承包记录，为电话销售提供材料。涉及技术，json,JOX等；<br />
                            &nbsp;渠道对接平台 : 电商与保险公司内部服务对接的系统，通过该系统对外提供保单服务的接口，微信，支付宝等电商可通过该系统对接承保。涉及技术，MULE,Redis等；<br />
                            &nbsp;pics行业平台对接系统：保险公司与行业监管平台对接的系统，客户可通过该系统查询行业监管平台，该系统提供缓存以及数据存储功能。涉及技术，groovy，MAVEN等。<br />
                    </p>
                    <p>责任描述 :<br />
                        &nbsp;1. 主要负责各功能模块代码实现，接口文档编写，联调问题解决；<br />
                        &nbsp;2. 升级打包，代码走查，各系统程序维护优化，预发布生产环境更新部署；<br />
                        &nbsp;3. 客户问题解决，生产测试问题解决，BUG修复。<br />
                    </p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Nov <strong class="text-upper">2017</strong> - <strong>Now</strong></span>
                    </time>
                    <h3>Java开发</h3>
                    <span class="education-company">面料行业ERP系统 | 浙江理工大学</span>
                    <p>技术选型：<br />
                        &nbsp;Web：Spring + Struts2 + Hibernate + Log4j + Jquery + EasyUI + HoorayOS + Maven<br />
                        &nbsp;深度学习：Pytorch + vgg16</p>
                    <p>项目介绍：
                        1.针对面料行业定制行业ERP系统，专注进销存、财务功能、小程序商城和面料以图找料；<br />
                        2.涉及到系统有：<br />
                            &nbsp;erp Web端系统：主要包含采购管理、销售管理、仓库管理、工厂管理、财务管理、报表模块、基础数据、微信小程序后台及以图找料的图片库上传；<br />
                            &nbsp;小程序商城：包含面料销售流程、面料以图找料功能；<br />
                            &nbsp;面料以图找料服务【深度学习】：准对客户拍摄到的图片在图片库中搜索相似面料，生产环境准确率在88%左右。
                    </p>
                    <p>责任描述 :<br />
                        &nbsp;1. 需求沟通及分析；<br />
                        &nbsp;2. web端系统架构设计搭建，主要需求后台设计实现；<br />
                        &nbsp;3. 以图找料服务算法及系统实现；<br />
                        &nbsp;4. 升级打包，代码走查，各系统程序维护优化，生产环境更新部署；<br />
                        &nbsp;5. 客户问题解决，生产测试问题解决，BUG修复。<br />
                    </p>
                </div>

                <div class="education-box">
                        <time class="education-date" datetime="2014-09T2016-01">
                            <span>Jun <strong class="text-upper">2018</strong> - <strong>Now</strong></span>
                        </time>
                        <h3>Java开发、小程序开发</h3>
                        <span class="education-company">地产行业管理系统 | 浙江理工大学</span>
                        <p>技术选型：Springframework + Mybatis + Shiro + Log4j + Swagger + Vue + Iview + Layer + Jqgrid</p>
                        <p>项目介绍：针对工业地产设计的管理系统，主要功能包含：<br />
                            &nbsp;1.公司行政架构管理<br />
                            &nbsp;2.员工OA管理（包含招商，出差，周报，申诉）<br />
                            &nbsp;3.厂房模块管理<br />
                            &nbsp;4.订单创建流程及订单跟进流程，包含招商、销售、工程、图纸、企服、财务模块<br />
                            &nbsp;5.佣金模块自动计算分发<br />
                            &nbsp;6.建筑材料erp系统<br />
                        </p>
                        <p>责任描述 :<br />
                            &nbsp;1. 需求沟通及分析；<br />
                            &nbsp;2. 系统架构设计搭建，主要需求设计实现；<br />
                            &nbsp;3. 升级打包，程序维护优化，生产环境更新部署；<br />
                            &nbsp;4. 客户问题解决，生产测试问题解决，BUG修复。<br />
                        </p>
                    </div>
            </div>
        </div>
    </div>
</section><!-- .section -->
