<section class="section brd-btm" id="profetional">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            
            <h2 class="title-thin text-muted">职业技能</h2>

            <div class="col-xs-offset-1 clear-mrg">
                <dd>熟练掌握java编程语言，熟悉python，拥有良好的编程习惯</dd>
                <dd>熟练掌握mysql数据库、redis缓存数据库</dd>
                <dd>熟练掌握html、jsp、js，熟悉iview、easyui、layui等前端框架</dd>
                <dd>熟练掌握tomcat、weblogic等应用服务器</dd>
                <dd>熟练掌握spring、springboot、hibernate、struts2、mybatis等框架</dd>
                <dd>熟练使用linux系统开发、idea/pycharm开发工具</dd>
                <dd>熟练掌握小程序开发，拥有单独开发部署小程序的经验</dd>
                <dd>熟悉nginx、mevan</dd>
                <dd>熟悉opencv、深度学习（pytorch框架）</dd>
                <dd>熟练掌握科学上网</dd>
            </div>

        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
